
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$brown-10: hsl(25, 47%, 15%);
$brown-50: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$orange: hsl(33, 100%, 98%);

$fs: 18px;
$fw-bold: 700;
$fw-lgt: 400;
$ff:'DM Sans', sans-serif;
$mb: 1rem;


// for margin-padding
$base-value : 0.7rem;

// for font-size
$base-fontValue :0.9rem;

// for border
$base-border: 10px;